name: Update Adult Omnix Playlist

on:
  schedule:
    - cron: '0 */4 * * *' # Run every 4 hours
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-playlist:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests

    - name: Run Downloader Script
      run: python scripts/adult_omnix.py

    - name: Commit and Push changes
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "action@github.com"
        git add playlist/adult_omnix.m3u
        git commit -m "Auto-update adult_omnix.m3u [$(date)]" || echo "No changes to commit"
        git push
