name: Update Kodi TV Playlist

on:
  schedule:
    - cron: '0 0 * * *' # Runs daily at midnight
  workflow_dispatch: # Allows manual trigger
  push:
    paths:
      - 'scripts/playlists_list.md'
      - 'scripts/kodi-tv.py'
      - '.github/workflows/kodi-tv.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests

    - name: Run playlist generator
      run: python scripts/kodi-tv.py

    - name: Commit and push changes
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        git add playlist/kodi-tv.m3u
        # Check if there are changes before committing
        if git diff --staged --quiet; then
          echo "No changes to commit"
        else
          git commit -m "Update kodi-tv.m3u playlist"
          git push
        fi
