name: Update Sony Liv Playlist

on:
  schedule:
    - cron: '*/20 * * * *' # Run every 30 minutes
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-playlist:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests beautifulsoup4

    - name: Run Scraper Script
      run: python scripts/sony_liv.py

    - name: Commit and Push changes
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "action@github.com"
        git add playlist/sony_liv.m3u
        git commit -m "Auto-update sony_liv.m3u [$(date)]" || echo "No changes to commit"
        git push

